#brand {
  background: red;
}
.full-height {
  height: 100vh;
}
.img1 {
  background: url("img/banner.jpg") center center/cover no-repeat;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* height: 500px; */
}
#content {
  color: white;
  text-align: left;
  padding-left: 5cm;
}
.half-height {
  height: 50vh;
}
.well {
  color: red;
  /* text-align: center; */
  /* padding-top: 5cm; */
  text-decoration: underline;
}
.win {
  color: gray;
  text-align: justify;
  width: 80%;
  /* padding-right: 4cm; */
  /* padding-left: 4cm; */
}
#btn {
  /* margin-left: 8.5cm; */
}
#black {
  background: black;
}
#black1 {
  background: black;
  border: 1px solid white;
  padding-bottom: 100px;
}
#black h2 {
  color: white;
}
.cropped-image-container {
  width: 60%;
}
#crop {
  /* clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%); */
  clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.play-container {
  padding: 3%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.green {
  background: rgb(76, 124, 5);
}
.aa {
  padding: 2cm;
}
.bb {
  padding: 2cm;
}
.cc {
  padding: 2cm;
}
.dd {
  padding: 2cm;
}
.ee {
  padding: 2cm;
}
#card1 {
  padding-right: 7px;
}
.grid {
  background: pink;
  padding: 70px;
}
.photo {
  border-radius: 50%;
  width: 100px;
}
.photo2 {
  width: 60px;
}
.photo3 {
  width: 60px;
}
.photo4 {
  width: 60px;
}
#photo5 {
  height: 30px;
}
